@{
    ViewBag.Title = "自我測量";
}
<h2>@ViewBag.Title.</h2>

<form method="post" action="~/Customer/New">
    <p>「高血壓前期」：血壓介於120～139／80～89 mmHg。</p>

    <p>「第一期高血壓」：血壓介於140～159／90～99 mmHg。</p>

    <p>「第二期高血壓」：血壓介於160～179／100～109 mmHg。</p>

    <p>「第三期高血壓」：血壓高於180／110 mmHg。</p>
</form>
