@{
    ViewBag.Title = "聯繫我們";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    中華民國防高血壓協會<br />
    臺北市中山區四平街20號5F<br />
    <abbr title="Phone">Phone:</abbr>
    電話：(02)25366229 傳真：(02) 25115595
</address>

<address>
    <strong>TEST1:</strong>   <a href="mailto:Support@example.com">TEST1@example.com</a><br />
    <strong>TEST2:</strong> <a href="mailto:Marketing@example.com">TEST2@example.com</a>
</address>