@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>血壓紀錄評量系統</h1>
    <p class="lead">高血壓不再是老年人的專利！以往，高血壓被視為一種老化疾病，但臨床和調查都發現，國內高血壓患者有年輕化的趨勢，營養師觀察這種現象，除了家族性遺傳之外，主要與年輕人長期的4種壞習慣相關。趕快來看您是否也暴露在高血壓的風險之中！</p>
    <p><a href="http://hypertension.org.tw/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>高血壓年輕化　營養師：4大壞習慣快戒了吧！</h2>
        <p>
            十年變3倍！年輕型高血壓漲幅驚人
        </p>
        <p><a class="btn btn-default" href="https://www.top1health.com/Article/57687">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>高血壓的治療</h2>
        <p>知 道 有 高 血 壓 之 後 ， 不 應 自 行 服 藥 。 而 應 該 由 醫 生 經 過 詳 細 檢 查 及 多 次 測 量 血 壓 後 ， 才 用 藥 物 ， 飲 食 及 其 他 一 般 方 法 治 療 。</p>
        <p><a class="btn btn-default" href="http://www.hkma.org/chinese/pubmededu/special/hpress.htm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>            
            高血壓（英語：Hypertension (HTN)或high blood pressure），全稱動脈高血壓（Arterial hypertension）
        </h2>
        <p>高血壓是中風、心肌梗塞（心梗）、心衰竭、動脈瘤（如主動脈瘤）及外周動脈疾病等重症的主要危險因素之一，也是慢性腎病的起因之一。即使輕度的動脈血壓升高也能縮短期待壽命。改變飲食及生活方式可以改善對血壓的控制並減少相關的健康風險。但如果生活方式改變沒有起效或效用不佳則這些患者常需要使用藥物治療</p>
        <p><a class="btn btn-default" href="https://zh.wikipedia.org/wiki/%E9%AB%98%E8%A1%80%E5%A3%93">Learn more &raquo;</a></p>
    </div>
</div>